@import url("https://fonts.googleapis.com/css?family=Open+Sans:300:400,600,700&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friend.css";
@import "friends.css";
@import "find.css";
@import "more.css";
@import "settings.css";
@import "chat.css";

* {
  /*
    width또는 height가 고정된 상황에서 padding을 주면 
    내부의 공간을 잃은만큼 내부를 확장시킨다.
    그렇게 되면, 패딩을 넣었음에도 전체 div의 크기가 커지는 현상이 발생한다.
    이떄 padding을 넣으며, 그 padding만큼 내부의 공간을 유지하고싶다면
    box-sizing: border-box;을 통해 전체 box의 크기를 고정시킬 수 있다.
  */
  box-sizing: border-box;
}

body {
  background-color: rgb(253, 253, 253);
  padding: 10px 20px;
  color: #020202;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif;

  margin-top: 40px;
}

a {
  /* inherit: 부모의 색을 그대로 받는다*/
  color: inherit;
  text-decoration: none;
}
