/*
    reset.css: 모든 태그의 기본사항을 초기화
    normalize.css: 어떤 인터넷 창에서든 동일한 css를 갖게 해줌
        *chrome, safari, IE등 환경에 따라 css 태그의 기준이 조금씩 다름
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "header.css";

body {
  background-color: white;
  padding: 10px 20px;
  color: #020202;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif;
}

a {
  /* inherit: 부모의 색을 그대로 받는다*/
  color: inherit;
}
